.titlebar {
  padding: 0.75rem 2rem 0.75rem 2rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 9fr 1fr;
}

.titlebar-text-container {
  text-align: left;
}

.titlebar-title {
  font-size: 1.55em;
  color: white;
}

.titlebar-subtile {
  font-size: 1.1em;
  color: black;
}

.titlebar-settings {
  align-content: left;
}

.option-btn {
  margin: 5px;
}
