.main-container{
    background-color: #DAD9D9;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.add-button{
    float:left;
    width: 200px;
    height: 60px;
    display:block;
}

.page-title{
    margin-bottom: 30px;
}

.project-label{
    display:block;
}