.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid;
    margin-top: 0px;
  }

.dot.red {
    background-color: #E84E4E;
}

.dot.green{
    background-color: #78D881;
}
.project-title{
    
}
.main-container{
    background-color: #DAD9D9;
}

.inner-container{
    padding-left:30px;
    padding-right:30px;
}
.summary{
    background-color: #FFFFFF;
}

.files{
    background-color: #FFFFFF;
}

.certificates{
    background-color: #F7E790;
}
.cert-button{
    float: right;
    margin-top:25px;
}

.cert-table{
    padding-left: 30px;
    padding-right: 30px;
}

.title-container{
    margin-bottom:100px
}