.Sidebar {
  background: #515151;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  padding: 1em 1em 0 1em;
  color:white;
  min-width: 14em;
}

.side-titles{
  font-size: 20px;
}

.projects{
  margin-bottom: 50px;
}

.side-add-project{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  padding-left:0px;
  color:white;
  
}
button:focus {outline:0;}

.project-item-link {
  color: inherit;
  text-decoration: inherit;
  font-size: 16px;
}

.sidebar-logo {
  font-family: 'Petit Formal Script';
  font-size: 2em;
}

.sidebar-heading {
  margin-top: 2px;
  font-size: 1.1em;
  font-weight: 400;
}

.project-item {
  margin: 0.1em 0em 0.1em 0em;
  padding: 0.1em 0em 0.2em 1em;
}

.Sidebar .clickable.active {
  background: rgb(95, 145, 192, 0.4);
}

.Sidebar .clickable:hover {
  cursor: pointer;
  background: rgb(239, 239, 239, 0.4);
}

.fit-parent {
  height: 100%;
  width: 100%;
  display: inline-block;
}
