.Sidebar {
  background: #515151;
  height: 100%;
  font-size: 15px;
  text-align: left;
  color: white;
  padding-top: 10px;
}

.sidebar-logo {
  text-align: center;
}

.sidebar-logo:hover {
  color: black;
}

.side-titles {
  font-size: 20px;
  margin-bottom: 0px;
}

.projects {
  margin: 15px;
}

.sidebar-item {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: white;
  text-align: left;
  color: "lightgray";
  width: 100%;
  height: 50px;
}
.sidebar-item.active {
  background: rgb(95, 145, 192, 0.5);
}
.sidebar-text {
  margin-left: 10px;
}
button:hover {
  background-color: rgba(204, 204, 204, 0.5);
}
button:focus {
  outline: 0;
}

.project-item {
  margin-bottom: 15px;
}

.project-item-link {
  color: inherit;
  text-decoration: inherit;
  font-size: 16px;
}

.collapse-container {
  margin-bottom: -30px;
  margin-top: -15px;
}
